h1 {
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 100px;
}
h2 {
    font-family: 'Metal Mania', cursive;
    color: maroon;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Metal Mania', cursive;
    font-size: 20px;
    color: maroon;
}
#H4{
    color: maroon;
    font-family: 'Butcherman', cursive;
    background: mintcream;
    opacity: 0.7;
    margin-top: -10px;
    
}
h6 {
    color: maroon;
    text-align: center;
    font-family: 'Eater', cursive;
}
p {
    color: maroon;
}

#BTN {
    color: rgb(218, 195, 195);
    background-color: maroon;
    border-radius: 5px;
    font-weight: bolder;
    text-decoration: none;
    visibility: hidden;
    padding: 10px 15px;
    
}

.global {
    text-align: center;
    margin: 0 100px 100px 100px;
    background-image: url('images/Recette.png');
    margin-left: 530px;
    margin-right: 530px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 3px 4px 5px maroon;
    
}
.global:hover #BTN {
    visibility: visible;
}

.global:hover .button{
    margin-top: 50px;
    padding-bottom: 50px;
}

.top {
    padding-top: 2px;
    background: mintcream;
    opacity: 0.7;
}

.middle {
    margin-top: -30px;
}

.bottom {
    display: flex;
    margin-top: 50px;
    background: mintcream;
    opacity: 0.7;
    
}
.bottom-items {
    flex: auto; 
    text-align: center;
}

